In [1]:
# Dependencies
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# Load Dataset (Primary - 2020)
bike = pd.read_csv("../../../202007-citibike-tripdata.csv")

In [3]:
# Display Data
c_bike = pd.DataFrame(bike)
c_bike.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,341,2020-07-01 00:00:01.3020,2020-07-01 00:05:42.5650,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,33861,Subscriber,1986,1
1,321,2020-07-01 00:00:01.3620,2020-07-01 00:05:22.9490,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,31233,Subscriber,1990,2
2,2710,2020-07-01 00:00:06.6290,2020-07-01 00:45:17.3410,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,40329,Customer,1969,0
3,2685,2020-07-01 00:00:13.0220,2020-07-01 00:44:58.8640,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,17567,Subscriber,1998,1
4,191,2020-07-01 00:00:13.4660,2020-07-01 00:03:24.6230,3615,44 Dr & 21 St,40.748000,-73.946093,3127,9 St & 44 Rd,40.749660,-73.952100,43421,Subscriber,1992,1

In [4]:
# Rename Columns 
c_bike = c_bike.rename(columns={"tripduration":"Trip", "starttime": "Start", "stoptime": "Stop", "start station id": "Start ID", 
                                "start station name": "Start Station", "start station latitude": "Start Lat", "start station longitude": "Start Long",
                                "end station id": "End ID", "end station name": "End Station", "end station latitude": "End Lat",
                                "end station longitude": "End Long", "bikeid": "Bike ID", "usertype": "User", "birth year": "BY", "gender": "Gender"})
c_bike.head(5)

,Trip,Start,Stop,Start ID,Start Station,Start Lat,Start Long,End ID,End Station,End Lat,End Long,Bike ID,User,BY,Gender
0,341,2020-07-01 00:00:01.3020,2020-07-01 00:05:42.5650,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,33861,Subscriber,1986,1
1,321,2020-07-01 00:00:01.3620,2020-07-01 00:05:22.9490,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,31233,Subscriber,1990,2
2,2710,2020-07-01 00:00:06.6290,2020-07-01 00:45:17.3410,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,40329,Customer,1969,0
3,2685,2020-07-01 00:00:13.0220,2020-07-01 00:44:58.8640,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,17567,Subscriber,1998,1
4,191,2020-07-01 00:00:13.4660,2020-07-01 00:03:24.6230,3615,44 Dr & 21 St,40.748000,-73.946093,3127,9 St & 44 Rd,40.749660,-73.952100,43421,Subscriber,1992,1

In [5]:
# Load Dataset (Comparison - 2019)
bike19 = pd.read_csv("../../../201907-citibike-tripdata.csv")

In [6]:
# Display Data (2019)
c_bike19 = pd.DataFrame(bike19)
c_bike19.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [7]:
# Rename Columns 
c_bike19 = c_bike19.rename(columns={"tripduration":"Trip", "starttime": "Start", "stoptime": "Stop", "start station id": "Start ID", 
                                "start station name": "Start Station", "start station latitude": "Start Lat", "start station longitude": "Start Long",
                                "end station id": "End ID", "end station name": "End Station", "end station latitude": "End Lat",
                                "end station longitude": "End Long", "bikeid": "Bike ID", "usertype": "User", "birth year": "BY", "gender": "Gender"})
c_bike19.head(5)

,Trip,Start,Stop,Start ID,Start Station,Start Lat,Start Long,End ID,End Station,End Lat,End Long,Bike ID,User,BY,Gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [8]:
# Trip Duration (2020)
avg20 = c_bike["Trip"].mean()
print("Average is", avg20, "seconds.")

min20 = c_bike["Trip"].min()
print("Min is", min20, "seconds.")

max20 = c_bike["Trip"].max()
print("Max is", max20, "seconds.")

Average is 1587.4401987265696 seconds.
Min is 61 seconds.
Max is 3522382 seconds.

In [9]:
# Trip Duration (2019)
avg19 = c_bike19["Trip"].mean()
print("Average is", avg19, "seconds.")

min19 = c_bike19["Trip"].min()
print("Min is", min19, "seconds.")

max19 = c_bike19["Trip"].max()
print("Max is", max19, "seconds.")

Average is 1035.3597280960118 seconds.
Min is 61 seconds.
Max is 2621244 seconds.

In [10]:
# Most Frequently Used Bike
bikeid20 = stats.mode(c_bike["Bike ID"])
print("Most used bike is", bikeid20, "in July 2020.")

bikeid19 = stats.mode(c_bike19["Bike ID"])
print("Most used bike is", bikeid19, "in July 2019.")

Most used bike is ModeResult(mode=array([36466], dtype=int64), count=array([468])) in July 2020.
Most used bike is ModeResult(mode=array([39721], dtype=int64), count=array([446])) in July 2019.